{% extends "website/_layouts/base.html" %}

{% block title %}Lista de Usuarios{% endblock %}

{% load primeira_letra %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Usuarios</h5>

          {% if usuarios|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Usuarios</code> cadastrados.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">nome</th>
                
                <th scope="col" class="text-center">Ações</th>
              </tr>
              </thead>
              <tbody>
              {% for usuario in usuarios %}
                <tr>
                  <th scope="row">{{ usuario.nome|primeira_letra }}</th>
                  <td>{{ usuario.nome }}</td>
                  <td>{{ usuario.email }}</td>
                 
                  <td class="text-center">
                    <a href="{% url 'website:atualiza_usuario' pk=usuario.id %}"
                       class="btn btn-primary">
                      Atualizar
                    </a>
                    <a href="{% url 'website:deleta_usuario' pk=usuario.id %}"
                      class="btn btn-danger">
                        Excluir
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Usuario</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'website:cadastra_usuario' %}" class="btn btn-primary">
              Cadastrar Usuario
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}